<div class="col-12 col-md-12 m-0 p-0">
    <div class="nav-bg">
       <ul class="list-group text-center">
        <li class="list-group-item">
            <span><img src="../../../assets/icons/home.svg" alt=""><br>
                <p>Home</p></span>
            
        </li>
        <li class="list-group-item">
            <span><img src="../../../assets/icons/dashboard.svg" alt=""> <br>
                <p>Dashboard</p></span>
            
        </li>
        <li class="list-group-item">
            <span><img src="../../../assets/icons/settings.svg" alt=""><br> <p>Product Setup</p></span>
           
        </li>
        <li class="list-group-item">
            <span>
                <img src="../../../assets/icons/paper.svg" alt=""> <br><p>Organization Details</p>
            </span>
        </li>
       </ul>
    </div>
</div>
