<div class="row">
    <div class="col-12">
        <button class="create-btn btn">
            <img src="../../../assets/icons/folder.svg" alt=""> Create Folder
        </button>
    </div>
    <div class="col-12">
        <button class="create-btn upload-btn btn">
            <img src="../../../assets/icons/upload.svg" alt=""> Upload file
        </button>
    </div>
    <div class="col-7 text-start">
        <div class="link-bg">
            <button class="link-btn mt-2">
              <i class="fa-brands fa-google-drive"></i>  My Drive
            </button>
            <button class="link-btn">
                <i class="fa-solid fa-laptop"></i> Computer
            </button>

            <button class="link-btn">
                <img src="../../../assets/icons/folder-shared.svg" alt=""> Shared with me
            </button>

            <button class="link-btn recent-btn">
                <img src="../../../assets/icons/ios-timer.svg" alt=""> Recent
            </button>
            <br>
            <button class="link-btn recent-btn">
                <i class="fa-solid fa-star"></i> Stared
            </button>
            <br>
            <button class="link-btn trash-btn">
                <img src="../../../assets/icons/ios-trash.svg" alt=""> Trash
            </button>
        </div>
    </div>
</div>
