<div class="col-12 col-md-12 m-0 p-0">
    <div class="nav-bg">
        <div class="row justify-content-between">
            <div class="col-6 col-md-1">
                <h1>DMS</h1>
            </div>
            <div class="col-5 col-md-11 pe-3">
                <div class="row justify-content-end">
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 text-end btn-border">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-notification" id="dropdownBasic1" ngbDropdownToggle>
                                <i class="bi bi-bell-fill"></i>
                                <span class="noti-dot">
                                    <h5>1</h5>
                                </span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="menu-position">
                                <button ngbDropdownItem>Action - 1</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn user-btn" id="dropdownBasic1" ngbDropdownToggle>
                                Mrs. M Sanya <i class="bi bi-chevron-down"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem class="btn-logout"><span class="material-icons">
                                        person
                                    </span>Profile</button>
                                <button ngbDropdownItem class="btn-logout"><span
                                        class="material-icons">
                                        logout
                                    </span>
                                    Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
