<div class="login-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-6 m-0 p-0">
                <img src="../../../assets/login-images/login2.png" class="img-fluid login-img" alt="">
            </div>
            <div class="col-6 col-md-6 m-0 p-0">
                <div class="login-bg">
                    <h1>DMS</h1>
                    <div class="login-border"></div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-6">
                            <form action="">
                                <label for="emailId" class="form-label text-light">Employee ID/Email</label>
                                <input type="text" class="form-control" placeholder="abc123@mail.com">

                                <label for="password" class="form-label text-light mt-3">Password</label>
                                <div class="input-group flex-nowrap mb-1">
                                    <input type="text" class="form-control" placeholder="********">
                                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-eye-slash"></i></span>
                                </div>
                                <div class="login-link text-end">
                                    <a href="#">Forget Password?</a>
                                </div>
                                <button class="btn btn-dark w-100 mt-3" routerLink="/home">Login</button>
                                <!-- <p>* OTP will be sent to your registered e-mail address</p> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>